.main-f {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  margin-left: 450px;
}

.h-f {
  font-size: 24px;
  margin-bottom: 20px;
  color: black;
}

.input-f {
  padding: 10px;
  margin-bottom: 10px;
  width: 300px;
}

.bt-f {
  padding: 10px 20px;
  background-color: gray;
  color: #fff;
  border: none;
  cursor: pointer;
}

.bt-f:hover {
  background-color: black;
}
